div.author {
  font-size: 10px;
  font-family: 'Acme', sans-serif;
}

div.date {
  font-size: 10px;
  font-family: 'Acme', sans-serif;
}

div.numComments {
  font-size: 12px;
  margin-left: 10px;
  font-family: 'Acme', sans-serif;
}