a:link {
    text-decoration: none;
    color: darkslateblue;
}

a:visited {
    text-decoration: none;
    color: darkslateblue;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}