#main-header {
  background-color: steelblue;
  display: block;
  font-family: 'Alegreya Sans', sans-serif;
}

#reddit-img {
  margin-left: 5px;
  margin-top: 5px;

}

span.span-header{
  font-size: 16px;
  color: aliceblue;
}